<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
            table{
                display: block;
                white-space: nowrap;
                overflow: auto;
                height: 100%;
                width: 100%;
            }
            
            tr{
                overflow: auto;
                width: 5000px;
                height: 25px;
            }
            
            .boundary{
                overflow: auto;
                height: 2000px;
                width: 2000px;                
            }
            
            .height{
                overflow: auto;
                height: 52px;
                width: 5200px;
            }
            
            .square{
                height: 25px;
                width: 25px;
                display: inline-block;
                border: 1px black solid;
            }
            
            .exist{
                background-color: black;
            }
            
            .dead{
                background-color:white;
            }
        </style>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <label>Horizontal length: </label><input type="number" value="100" step="1" min="50" id="vert" ng-blur="update('length', hValue)" ng-model="hValue">
            <label>Vertical length: </label><input type="number" value="100" step="1" min="50" id="hori" ng-blur="update('height', vValue)" ng-model="vValue">
            <br>
            <br>
            <label>Random population(%): </label><input type="number" ng-value="50" min="0" max="100" step="1" ng-model="percent">
            <button ng-click="randomize(percent)">Randomize</button>
            <button ng-click="wipe()">Reset</button>
            <br>
            <br>
            <label>Interval (ms): </label><input type="number" ng-value="500"ng-model="interval">
            <button ng-click="start()">Start</button>
            <button ng-click="stop()">Stop</button>
            <br>
            <br>
            <hr>
            <br>
            <!--<div class="boundary">
                <div class="height" ng-repeat="y in box.height">
                    <p ng-repeat="x in box.length" id="{{x}}{{y}}" class="square dead"></p><br>
                </div>
            </div>-->
            <table cellspacing="0">
                <tr ng-repeat="y in box.height">
                    <td ng-repeat="x in box.length" class="square dead" id="y{{y}}x{{x}}"></td>
                </tr>
            </table>
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope){
                $(function(){
                    $scope.box = {
                        height: [],
                        length: []
                    };
                    $scope.vValue = 50;
                    $scope.hValue = 50;
                    $scope.interval = 500;
                    $scope.percent = 50;

                    $scope.update = (name, value) => {
                        $scope.box[name] = [];
                        while(value > 0){
                            $scope.box[name].unshift(value);
                            value--;
                        }
                    };
                    
                    $scope.randomize = (percent) => {
                        reset();
                        squares = document.getElementsByClassName('square');
                        [].forEach.call(squares, (square) => {
                            a = $(square);
                            a.removeClass('dead');
                            a.removeClass('exist');
                            if((Math.random()*100) < percent){
                                a.addClass('exist');
                            }
                        });
                    };
                    
                    $scope.wipe = () => {
                        reset();
                        squares = document.getElementsByClassName('square');
                        [].forEach.call(squares, (square) => {
                            a = $(square);
                            a.removeClass('exist');
                            a.addClass('dead');
                        });
                    }
                    
                    var set;
                    
                    $scope.start = () => {
                        console.log("interval set");
                        if(set)
                            clearInterval(set);
                        set = setInterval(iterate, $scope.interval);
                    };
                    
                    $scope.stop = () => {
                        console.log("interval cleared");
                        clearInterval(set);
                    };
                    
                    function rules(x, y){
                        neighbours = 0;
                        a = -1;
                        while(a<=1){
                            y1 = parseInt(y) + parseInt(a);
                            b = -1;
                            while(b<=1){
                                x1 = parseInt(x) + parseInt(b);
                                if($("#y"+y1+"x"+x1).hasClass("exist")){
                                    if(y1 == y && x1 == x){
                                        console.log('continue');
                                        b++;
                                        continue;
                                    }
                                    neighbours = neighbours + 1;
                                }
                                b++;
                            }
                            a++;
                        }
                        return neighbours;
                    }
                    
                    function iterate(){
                        squares = document.getElementsByClassName('square');
                        squareList = {};
                        [].forEach.call(squares, (square) => {
                            id = $(square).attr('id');
                            x = id.split('x')[1];
                            y = id.split('x')[0].split('y')[1];
                            squareList[id] = rules(x, y);
                        });
                        
                        console.log(squareList);
                        
                        for(item in squareList){
                            if(squareList[item] < 2 || squareList[item] > 3){
                                $("#"+item).removeClass('exist');
                                $("#"+item).addClass('dead');
                            }
                            else if(squareList[item] === 3){
                                $("#"+item).removeClass('dead');
                                $("#"+item).addClass('exist');
                            }
                        }
                    }
                    
                    function reset(){
                        document.getElementById("vert").focus();      
                        document.getElementById("vert").blur();
                        document.getElementById("hori").focus();
                        document.getElementById("hori").blur();
                    }

                    $scope.update($scope.box.length, $scope.hValue);                
                    $scope.update($scope.box.height, $scope.vValue);
                    reset();
                    
                    $("table").click(function(event){
                        target = $(event.target);
                        if(target.hasClass('dead')){
                            target.removeClass('dead');
                            target.addClass('exist');
                        }
                        else if(target.hasClass('exist')){
                            target.removeClass('exist');
                            target.addClass('dead');
                        }
                    });
                    
                    $(window).focus(function(){
                        reset();
                    });
                });         
            });
        </script>
    </body>
</html>
